@model E_Ticaret.Dto.CartViewModel

<div class="wrap-header-cart js-panel-cart">
    <div class="s-full js-hide-cart"></div>

    <div class="header-cart flex-col-l p-l-65 p-r-25">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
            <span class="mtext-103 cl2">
                Sepetiniz
            </span>

            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>

        <div class="header-cart-content flex-w js-pscroll">
            <ul class="header-cart-wrapitem w-full">
                @foreach (var item in Model.CartItems)
                {
                    <li class="header-cart-item flex-w flex-t m-b-12">
                        <div class="header-cart-item-img">
                            <img src="/Urunler/@item.Image" alt="IMG">
                        </div>

                        <div class="header-cart-item-txt p-t-8">
                            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                @item.ProductName
                            </a>

                            <span class="header-cart-item-info">
                                @item.Quantity x @item.Price.ToString("C")
                            </span>

                            <div class="cart-controls">
                                <a href="/Cart/Add?id=@item.ProductId" class="btn btn-sm btn-success">+</a>
                                <span>@item.Quantity</span>
                                <a href="/Cart/Decrease?id=@item.ProductId" class="btn btn-sm btn-warning">-</a>

                                <a href="/Cart/Remove?id=@item.ProductId" class="btn btn-sm btn-danger">
                                    <i class="zmdi zmdi-delete"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                }
            </ul>

            <div class="w-full">
                <div class="header-cart-total w-full p-tb-40">
                    Toplam: @Model.TotalPrice.ToString("C")
                </div>

                <div class="header-cart-buttons flex-w w-full">
                    <a href="/Cart/Index" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                        Sepeti Görüntüle
                    </a>

                    <a href="/Cart/Clear" class="flex-c-m stext-101 cl0 size-107 bg-danger bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                        Sepeti Temizle
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
