@model IEnumerable<E_Ticaret.Models.Slider>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SliderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Header1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Header2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SliderContext)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SliderDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SliderImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SliderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Header1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Header2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SliderContext)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SliderDescription)
            </td>
                <td>
                    <img src="/Sliders/@item.SliderImage" width="50px" height="50px" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SliderId" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.SliderId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.SliderId" class="btn btn-danger">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
